[Desktop Entry]
Encoding=UTF-8
Name=blue (hyprland)
Comment=tiling window manager (hyprland)
Exec=hyprland -c ~/.config/hypr/blue/hyprland.conf
Type=Application
