[Desktop Entry]
Encoding=UTF-8
Name=awsm (hyprland)
Comment=Smooth tiling window manager (hyprland)
Exec=bash -c 'exec Hyprland --config ~/.config/hypr/conf/awsm/hyprland.conf'
Type=Application
