[Desktop Entry]
Encoding=UTF-8
Name=blue (hyprland)
Comment=tiling window manager (hyprland)
Exec=bash -c 'exec Hyprland --config ~/.config/hypr/conf/awsm/hyprland.conf'
Type=Application
